@font-face {
    font-family: Baldur;
    src: url('/assets/Baldur.ttf');
}
@font-face {
    font-family: Tabuti;
    src: url('/assets/Tabuti.ttf');
}

a {
    text-decoration: none;
    color: lightgrey;
    transition: .6s;
}
a:hover {
    color: white;
}

body {
    background-color: #222;
    height: 90vh;
}

h5 {
    color: white;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
}

.padding {
    padding: 30px
}

.alternate-font {
    font-family: Baldur;

}
.alternate-font a h5 {
    font-size: 24px;
    margin-top: 5px;
}
.alternate-font a:nth-child(even) h5 {
    font-family: Tabuti;
    font-size: 25px;
    margin-top: 0;
}

a:hover h5 {
    color: grey;
    transition: .6s;
}

.dice-holder {
    position: absolute;
    height: 100vh;
    z-index: -99;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dice-holder img {
    transition: .6s;
}

.dragon-slayer-link {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.discord-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.discord-logo:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}